.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: #6AA8C3;
  text-decoration: none;
}

a:hover {
  color: #118AB2;
  text-decoration: underline;
}

body.dark-mode {
  background-color: #000;
  color: #ffffff;
}

.dark-mode-container {
  background-color: #000;
  color: #ffffff;
}

.dark-mode .btn-dark {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode .btn-light {
  background-color: #f0f0f0;
  color: #121212;
}

.dark-mode .list-group-item {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-mode .text-muted {
  color: #bbbbbb !important;
}

/* Toggle Switch Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 25px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #118AB2; /* Azure Blue for dark mode */
}

input:checked + .slider:before {
  transform: translateX(24px); /* Move the toggle to the right */
}

/* Add subtle shadow to the switch for better aesthetics */
.slider {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.slider:before {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Default input styles for light mode */
.block-input-field,
.trailing-zeroes-input {
  background-color: #fff; /* White background */
  color: #000; /* Black text for visibility */
  border: 2px solid #ccc; /* Light gray border */
}

/* Input styles for dark mode */
body.dark-mode .block-input-field {
  background-color: #000; /* Black background */
  color: #fff; /* White text for visibility */
  border: 2px solid #c38bfa; /* Match theme border color */
}

body.dark-mode .trailing-zeroes-input {
  background-color: #000; /* Black background */
  color: #fff; /* White text for visibility */
  border: 2px solid #EF476F; /* Match theme border color */
}

/* Trailing Zeroes Input Container */

.trailing-zeroes-container {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Space from the checkboxes above */
}

.trailing-zeroes-container input {
  padding: 5px;
  font-size: 14px;
  max-width: 80px; /* Adjust width as needed */
}

.trailing-zeroes-input-label  {
  font-size: 1rem; /* Match the theme font size */
  color: #EF476F; /* Purple color for consistency */
  margin-right: 10px; /* Spacing between label and input */
}

.trailing-zeroes-input {
  border-radius: 8px; /* Rounded corners */
  outline: none; /* Remove default focus outline */
  transition: border-color 0.3s ease-in-out; /* Smooth transition for border color on focus */
}

.trailing-zeroes-input:focus {
  border-color: #D90429 !important; /* A deep and bold red for the focus state */
}

/* Block Input Container */
.block-input-container {
  display: flex; /* Flexbox to align label and input on the same line */
  justify-content: flex-start; /* Push label and input to the left */
  align-items: center; /* Align label and input vertically */
  width: 100%; /* Span full width */
  margin-top: 10px; /* Add spacing between the block input and above content */
}

/* Block Input Label */
.block-input-label {
  font-size: 1rem; /* Match the theme font size */
  color: #c38bfa; /* Purple color for consistency */
  margin-right: 10px; /* Spacing between label and input */
}

/* Block Input Field */
.block-input-field {
  width: 100%; /* Make it as wide as its container */
  max-width: 400px; /* Increase the maximum width to allow more space */
  padding: 8px 12px; /* Maintain good padding for usability */
  font-size: 1rem; /* Match theme font size */
  border-radius: 8px; /* Rounded corners */
  outline: none; /* Remove default focus outline */
  transition: border-color 0.3s ease-in-out; /* Smooth transition for border color on focus */
}

/* Input Focus Style */
.block-input-field:focus {
  border-color: #f0f !important; /* Highlight border color on focus */
}

/* Query Button */
.query-button {
  background-color: #037F5E;
  border: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.query-button:hover {
  background-color: #037F5E;
  box-shadow: 0 0 10px #049F76; /* Subtle neon glow */
}

/* Feelin' Lucky Button */
.feelin-lucky-button {
  background-color: #6AA8C3;
  border: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.feelin-lucky-button:hover {
  background-color: #6AA8C3; 
  box-shadow: 0 0 10px #8ECAE6;
}

/* Clear Button */
.clear-button {
  background-color: #E89A02;
  border: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.clear-button:hover {
  background-color: #E89A02;
  box-shadow: 0 0 10px #FFB703;
}

/* Clear Query History Button */
.clear-query-history-button {
  background-color: #E05C5C; /* Softer red */
  border: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.clear-query-history-button:hover {
  background-color: #E05C5C; /* Slightly darker red for hover */
  box-shadow: 0 0 10px #F86D6D; /* Subtle glow effect */
}

/* Download CSV Button */
.download-csv-button {
  background-color: #6AA8C3;
  border: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.download-csv-button:hover {
  background-color: #6AA8C3;
  box-shadow: 0 0 10px #8ECAE6;
}
/* Info Icon Container */
.info-icon-container {
  position: relative;
  margin-left: 4px; /* Space between label and icon */
  cursor: pointer;
}

/* Info Icon */
.info-icon {
  font-size: 14px; /* Adjust size as needed */
  color: #118AB2; /* Subtle gray-blue for the icon */
  cursor: pointer;
}

/* Tooltip */
.tooltip {
  visibility: hidden;
  opacity: 0;
  width: 200px; /* Adjust width as needed */
  background-color: #444; /* Dark background for tooltip */
  color: #fff; /* White text for contrast */
  text-align: center;
  border-radius: 8px;
  padding: 8px;
  font-size: 0.875rem;
  position: absolute;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Softer shadow */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Tooltip Arrow */
.tooltip::after {
  content: '';
  position: absolute;
  top: 100%; /* Arrow at the bottom */
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #333 transparent transparent transparent; /* Match tooltip background */
}

/* Show Tooltip on Hover */
.info-icon-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(-5px); /* Slight upward motion */
}

/* Footer Button Style */
.nav-button-footer {
  background-color: transparent;
  padding: 6px 12px; /* Smaller padding */
  font-size: 0.875rem; /* Smaller font size */
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-button-footer.rarity {
  border-color: #E89A02;
  color: #E89A02;
  box-shadow: 0 0 5px #E89A02;
}

.nav-button-footer.rarity:hover {
  background-color: #E89A02;
  color: white;
  box-shadow: 0 0 10px #E89A02;
}